<tabbed-pane [(activeId)]="activePane" #tp>
  <tab title="Booked" [id]="1">
    Passagiere mit gebuchten Flügen.
  </tab>
  <tab title="Checked in" [id]="2">
    Passagiere, die bereits da sind.
  </tab>
  <tab title="Boarded" [id]="3">
    Passagiere, die bereits im Flieger sind.
  </tab>
</tabbed-pane>

{{ activePane }} <!-- Datenbindung zum Testen des Two-Way-Bindings -->

<div>
  {{tp.currentTitle}}
</div>

<div>
  <button mat-raised-button color="primary" (click)="tp.expand()">Expand</button>
  <button mat-raised-button color="primary" (click)="tp.collapse()">Collapse</button>
</div>
